<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/lib/common.js}"></script>
    <script>
        fetch(
            "/api/documents",
            {
                method: 'GET',
                headers: {
                    'Authorization': localStorage.getItem("auth")
                }
            })
            .then(r => {
                console.log(r);
                return r.json()
            })
            .then(j => {
                console.log(j);
                let el = document.createElement("div");
                el.innerHTML = j;
                document.body.appendChild(el);
            });
    </script>
</head>
<body>
</body>
<script>
</script>
</html>
