<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/lib/common.js}"></script>
</head>
<body>
    <h1>Login</h1>
   <div>
       <p>
           <input type="text" placeholder="username" id="username">
           <input type="password" placeholder="password" id="password">
       </p>
       <button onclick="login()">Login</button>
   </div>
    <script type="text/javascript">
        function login(){

            loginCred = {
                username: document.getElementById("username").value,
                password: document.getElementById("password").value
            }

            fetch('/auth', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(loginCred)
            })
            .then(r => r.text())
            .then(t => localStorage.setItem("auth", `Bearer ${t}`))
        }
    </script>
</body>
</html>