<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
</head>

<body>
<div>
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
    </div>
    <form th:action="@{/registration}"
          th:object="${userForm}" method="POST">
        <h2>Регистрация</h2>
        <div>
            <input type="text" th:field="*{username}" placeholder="Username"></input>
        </div>
        <div>
            <input type="password" th:field="*{password}" placeholder="Password"></input>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/">Главная</a>
</div>
</body>
</html>
